<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<div id="app1">
		{{
			message
		}}
	</div>
	<div id="app-2">
  		<span v-bind:title="message">
    		Наведи на меня курсор на пару секунд,
    		чтобы увидеть динамически связанное значение title!
  		</span>
	</div>
	<div id="app-3">
  		<span v-if="seen">Сейчас меня видно</span>
	</div>
	<div id="app-4">
  		<ol>
    		<li v-for="todo in todos">
      			{{ todo.text }}
    		</li>
  		</ol>
	</div>
	<div id="app-5">
  		<p>{{ message }}</p>
  		<button v-on:click="reverseMessage">Перевернуть сообщение</button>
  	</div>
  	<div id="app-6">
  		<p>{{ message }}</p>
  		<input v-model="message">
	</div>


	<script type="text/javascript">
		// декларативная отрисовка
		var app = new Vue({
  			el: '#app1',
  			data: {
    			message: 'Привет, Vue!'
  			}
		})

		var app2 = new Vue({
  			el: '#app-2',
  			data: {
    			message: 'Вы загрузили эту страницу: ' + new Date().toLocaleString()
  			}
		})
		
		// Условия и циклы
		var app3 = new Vue({
  			el: '#app-3',
  			data: {
    			seen: true
  			}
		})
		
		var app4 = new Vue({
		  	el: '#app-4',
		  	data: {
		    	todos: [
		      		{ text: 'Изучить JavaScript' },
		      		{ text: 'Изучить Vue' },
		      		{ text: 'Создать что-нибудь классное' }
				]
			}
		})
		
		// Работа с пользовательским вводом
		var app5 = new Vue({
			el: '#app-5',
  			data: {
    			message: 'Привет, Vue.js!'
  			},
  			methods: {
    			reverseMessage: function () {
      				this.message = this.message.split('').reverse().join('')
    			}
  			}
		})
		
		var app6 = new Vue({
  			el: '#app-6',
			data: {
				message: 'Привет, Vue!'
			}
		})

	</script>
	
</body>
</html>